{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}


	<article>

		<h3>{{recipe.name}}</h3>

		{# <p>{{recipe.description}}</p> #}

		<a href="{{path('app_recipe_delete', {id: recipe.getId})}}">Supprimer</a>
		<a href="{{path('app_recipe_update', {id: recipe.getId})}}">Modifier</a>
		<h3>Catégorie:
			{{ recipe.category }}</h3>

	</article>

{% endblock %}
